.login__form {
  padding: 2rem;
  border-radius: 2rem;
  background-color: var(--bg-color);
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  accent-color: var(--mid-color);
}

.login__form p {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
}

.login__form p.with__checkbox {
  flex-direction: row;
  gap: 1.5rem;
}

.login__form label {
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: 500;
  min-width: 25%;
  text-align: left;
}

.login__form input[type="text"],
.login__form input[type="password"] {
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: 500;
  min-width: 75%;
  background-color: var(--lighter-gray);
  border: none;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  color: var(--darker-gray);
  outline: 1px solid var(--lighter-gray);
}

.login__form input[type="checkbox"] {
  appearance: none;
  cursor: pointer;
  background-color: var(--lighter-gray);
  width: 2.5rem;
  height: 2.5rem;
  border: none;

  &:checked {
    background-color: var(--mid-gray);
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='rgb(243, 241, 235)' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  }
}

.login__form .form__button {
  border: 0;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  line-height: 3.5rem;
  font-weight: 600;
  background-color: var(--mid-color);
  color: var(--reverse-text-color);

  &:hover {
    background-color: var(--dark-color);
    cursor: pointer;
  }
}

@media (min-width: 480px) {
  .login__form p {
    flex-direction: row;
  }
}
