.empty__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 2;
}

.empty__results {
  padding-top: 3rem;
  color: var(--error-light);
  h2 {
    font-size: 5rem;
    line-height: 8rem;
  }

  h3 {
    font-size: 2rem;
    line-height: 3.8rem;
  }

  .empty__message {
    font-size: 1.6rem;
    line-height: 3.6rem;
    font-weight: 600;
    color: var(--mid-gray);
  }
  .button__link {
    background-color: var(--mid-gray);
    color: var(--reverse-text-color);
    margin: 1rem;
    line-height: 3.8rem;

    &:hover {
      background-color: var(--darker-gray);
      color: var(--reverse-text-color);
    }
  }
}
