.footer {
  padding: 2rem;
  background-color: var(--text-color);
  color: var(--reverse-text-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer p {
  display: inline-flex;
  gap: 1rem;
}

.footer a:link,
.footer a:visited {
  color: var(--mid-color);
  font-weight: bold;
  text-decoration: none;
}

.footer a:active,
.footer a:hover {
  text-decoration: underline;
}

.emojicon {
  font-size: 2.5rem;
}
