* {
  min-width: 0;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;

  font-size: 1.5rem;
  line-height: 2.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

ul {
  list-style-type: none;
  list-style-position: inside;
}
