@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Emoji:wght@300..700&display=swap");

:root {
  --bg-color: #f3f1ebff;
  --text-color: #2f3735ff;
  --reverse-text-color: #f3f1ebff;

  --darker-gray: #424c4aff;
  --dark-gray: #616f6cff;
  --mid-gray: #97a7a4ff;
  --light-gray: ##bdc7c4ff;
  --lighter-gray: #dcdfdaff;

  --lighter-color: #d7eae1ff;
  --light-color: #a9dbc9ff;
  --mid-color: #66cdaaff;
  --dark-color: #1b8e72ff;
  --darker-color: #146752ff;

  --accent-dark: #fb9237ff;
  --accent-color: #fcab64ff;
  --accent-light: #fcd29fff;

  --error-color: #ec5b5bff;
  --error-light: #f08080ff;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.emojicon {
  font-family: "Noto Emoji", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

button,
input,
textarea {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1e1e1e;
    --text-color: #fcefefff;
  }
} */
